<%- include('./nav') %>
<div id="Files">
    <form action="/" method="POST" id="form">
    <div id="main1">
            <div id="name-text">Enter your name</div>
            <input type="text" id="partnam" name="name" placeholder="Enter your name">
    </div>
    
    <div id="main2">
        <div id="name-text">Enter your quote</div>
        <textarea type="text" id="partquot" name="quote" placeholder="Enter your quote"></textarea>
    </div>
    
    <button type="submit" id="btn">Add Quote</button>
    </form>

</div>
</body>
</html>